/* .home-page {
    /* background-image: url('https://www.wallpapersbrowse.com/images/4w/4wqbyey.jpg'); */
    /* height: 1600px;
    width: 1300px; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
/* } */ 