.background {
    background: url('http://moziru.com/images/8-bit-clipart-3.jpg');
    width: 600px;
    height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.title1{
    font-family: 'Play', sans-serif;
    font-weight: 10px; 
}

.home-text {
    font-family: 'Raleway', sans-serif;
}